@import url('https://fonts.googleapis.com/css?family=Anton|Arimo|Courgette|Kanit|Kaushan+Script|Lato|Libre+Franklin|Lobster|Lobster+Two|Open+Sans|Pacifico|Passion+One|Poppins|Raleway|Shrikhand|Source+Sans+Pro|Titillium+Web');
/* USO DE FUENTES

font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Shrikhand', cursive;

*/
/*Reseteo de margenes y padding*/
*{
	margin: 0 auto;
	padding: 0px;
}

#gray{
	background-color: #1c5b44;
}

#login{
	text-align: center;
	margin-top: 17%;
}

#login label{
	font-size: 24px;
	color: #a5a5a5;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid #35ad81;
}

#login input[type=text]{
	margin-top: 2%;

}

#login input[type=text],#login input[type=password]{
	display: block;
	width: 15%;
	background: none;
	margin-bottom: 15px;
	border: none;
	border-bottom: 2px solid #35ad81;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

#login input[type=submit]{
	background-color: #35ad81;
	border:none;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

#login input[type=submit]:hover{
	color: #ffd36d;
}

hr{
	border-bottom: 2px solid #35ad81;
	width: 40%;
	margin-top: 3%;
}